/* Definition of variables for colors and font family */
:root {
  --color-black: #333;
  --color-white: #fff;
  --color-yellow: #ffd900;
  --color-pink: #dd71c6;
  --color-skyblue: #73c3f4;
  --custom-baskerville-font: 'Libre Baskerville', serif;
  --custom-montserrat-font: 'Montserrat', sans-serif;
}

* {
  font-family: var(--custom-montserrat-font);
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

body.active {
  overflow: hidden;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logoPage {
  padding: 4% 2%;
}

.nav-menu {
  position: fixed;
  left: -115%;
  top: 0;
  gap: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-yellow);
  margin-top: 50px;
  text-align: left;
  transition: 0.3s;
  overflow-y: auto;
}

.nav-menu.active {
  left: 0;
  margin-top: 50px;
  width: 100%;
}

.page-sections {
  list-style: none;
  margin: 0;
  width: 80%;
}

.nav-link {
  text-decoration: none;
  transition: 0.7s ease;
  color: #fff;
  font-weight: 400;
  line-height: 44px;
  text-transform: capitalize;
  margin-left: 28px;
}

.nav-log {
  display: flex;
  flex-direction: column;
  padding: 4% 2%;
}

.bar {
  display: block;
  align-self: flex-end;
  width: 25px;
  height: 2px;
  margin: 2.5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-pink);
}

.nav-log.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.nav-log.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-log.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Main Section */
main {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.content.active {
  display: none !important;
  overflow-y: auto;
}

h1 {
  font-family: var(--custom-baskerville-font);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  line-height: 48px;
  padding: 0 4%;
  padding-top: 5%;
}

.colored-text-free {
  font-family: var(--custom-baskerville-font);
  font-weight: 400;
  font-size: 30px;
  color: var(--color-pink);
}

.colored-text {
  color: var(--color-pink);
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}

.spots {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
}

.countdown-container {
  background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
  width: 70%;
  margin: 5%;
  padding: 7% 7%;
  border-radius: 30px;
}

.offer {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.countdown {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.countdown-item {
  width: 100%;
}

.countdown-item .time {
  font-family: var(--custom-montserrat-font);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  color: #0083d3;
  font-size: 8px;
  line-height: 14.23px;
}

.days,
.hours,
.minutes,
.seconds {
  color: var(--color-black) !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.description {
  padding: 3% 4.3%;
}

.spotsDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
  padding: 2%;
}

.btn-pink {
  color: var(--color-white);
  background-color: var(--color-pink);
  border: var(--color-pink);
  font-family: var(--custom-montserrat-font);
  font-weight: 600;
  margin: 0 15%;
  margin-top: 5%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-pink:hover {
  background-color: var(--color-skyblue);
  color: var(--color-pink);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-pink p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: center;
  margin: 8px 0;
}

.yellowBackground {
  background-image: url(./assets/background-yellow.svg);
  position: absolute;
  right: 500px;
  top: 0;
  z-index: -1;
  width: 51%;
  height: 768px;
  left: 49%;
  border-radius: 50px 0 0 0;
}

/* Get To Know Us Section */

.getToKnowUs {
  width: 100%;
  background-color: var(--color-pink);
  margin: 0;
  margin-top: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 60% 60%;
  padding: 10% 8%;
  column-gap: 9%;
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.75);
  }

  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.card {
  width: 100%;
  height: 157px;
  top: 51px;
  left: 194px;
  border-radius: 20px;
  gap: 6px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0;
  animation: show 1s ease-in-out;
}

.titleCard {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.titleSpan {
  color: rgba(196, 196, 196, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  padding-left: 2px;
}

.cardDescription {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.btnYellow {
  background-color: var(--color-yellow);
  margin-bottom: 15%;
  margin-top: 8%;
}

/* Who Is The Consultation For Section */
.consultationFor {
  background-color: var(--color-skyblue);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10%;
}

.questions {
  margin: 8%;
  padding-top: 5%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  top: 1680px;
  left: 53px;
}

.questionTitle {
  font-family: var(--custom-baskerville-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}

.answer {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.photoContainer {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 5%;
  margin-bottom: 23px;
}

.photoGirl {
  width: 90%;
  padding-left: 5%;
  padding-top: 0;
}

/* Help You Section */
.helpYou {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding-bottom: 15%;
}

.helpYouTitle {
  font-family: var(--custom-baskerville-font);
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  margin: 11% 0 0 8%;
}

.helpDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding: 0 11%;
  padding-bottom: 10%;
}

.photoStaffCont {
  display: flex;
  width: 100%;
}

.staff {
  width: 100%;
  margin-bottom: 10%;
}

/* Free Consultation Section */
.freeConsultation {
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 10%;
}

.freeCons {
  padding: 5%;
  font-weight: 400;
  font-size: 24px;
}

.consultSpan {
  font-weight: 400;
  font-size: 24px;
}

.cardFree {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 12px 0 0 0;
  border-radius: 20px;
  gap: 17px;
  background-color: rgba(255, 255, 255, 1);
}

.titleCardFree {
  color: rgba(0, 131, 211, 1);
  font-family: var(--custom-baskerville-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
}

.lineFree {
  width: 206px;
  height: 1px;
  background-color: #0083d3;
}

.listsFreeCons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.itemFreeCons {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.itemFreeCons::marker {
  font-size: 8px;
}

.pinkTitle {
  color: var(--color-pink);
}

.pink {
  background-color: #dd71c6;
}

.btnConsul {
  padding: 0 4%;
}

/* FAQs Section */

.dropdowns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10%;
}

.dropdownSee {
  display: flex;
  flex-direction: row;
}

.contentDrop {
  display: none;
}

.dropdownCard {
  background-color: rgba(249, 249, 249, 1);
  padding: 5% 3%;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5%;
}

.dropdownCard.active {
  flex-direction: column;
}

.dropdownCard.active .contentDrop {
  display: block;
}

.dropdown-title {
  align-self: center;
}

.arrow {
  cursor: pointer;
  align-self: center;
}

.dropdownCard.active .arrow img {
  transform: rotate(180deg);
}

.lineFaq {
  display: flex;
  height: 2px;
  width: 100%;
}

.dropDesc {
  padding: 6% 0;
}

/* Footer */
.footerCont {
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
}

.logoFooterImg {
  width: 60%;
  padding: 10%;
}

.descriptionFooter {
  width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  padding: 10%;
}

.headOffice {
  display: flex;
  flex-direction: row;
  margin: 5% 10%;
  gap: 10%;
}

.aboutFooter {
  margin: 10%;
  margin-bottom: 3%;
  padding-left: 0;
}

.aboutFooterTitle {
  font-family: var(--custom-baskerville-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

.itemsAboutF {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 15% 0;
}

.socialsIcons {
  width: 132px;
  height: 30px;
  top: 6702px;
  left: 17px;
  margin: 0 5%;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 5%;
  padding-top: 6%;
}

.officeBold {
  font-weight: bold;
}
