/* Definition of variables for colors and font family */
:root {
  --color-black: #333;
  --color-white: #fff;
  --color-yellow: #ffd900;
  --color-pink: #dd71c6;
  --color-skyblue: #73c3f4;
  --custom-baskerville-font: 'Libre Baskerville', serif;
  --custom-montserrat-font: 'Montserrat', sans-serif;
}

* {
  font-family: var(--custom-montserrat-font);
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.nav-menu {
  position: fixed;
  left: -115%;
  top: 0;
  gap: 0;
  flex-direction: column;
  opacity: 80%;
  width: 100%;
  height: 100%;
  background-color: var(--color-skyblue);
  backdrop-filter: blur(10px);
  text-align: left;
  transition: 0.3s;
  z-index: 9;
}
.nav-menu.active {
  left: 0;
  margin-top: 50px;
}

.page-sections {
  list-style: none;
  margin: 16px 0;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  transition: 0.7s ease;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 44px;
  text-transform: capitalize;
  margin-left: 28px;
}

.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-pink);
}

.nav-log.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.nav-log.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-log.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Main Section */
main {
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  z-index: 1;
}

h1 {
  font-family: var(--custom-baskerville-font);
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.spots {
  font-family: var(--custom-montserrat-font);
}

.colored-text {
  color: var(--color-pink);
}

.countdown-container {
  background: linear-gradient(107.9deg, rgba(255, 255, 255, 0.51) 9.7%, rgba(255, 255, 255, 0.49) 88.76%);
  box-shadow: 0px 4px 40px 0px #0000001A;
}

.countdown-item {
  font-family: var();
}

.btn-pink {
  color: var(--color-white);
  background-color: var(--color-pink);
  border: var(--color-pink);
  font-family: var(--custom-montserrat-font);
}

.yellowBackground {
  background-image: url(./assets/background-yellow.svg);
  position: absolute;
  right: -50%;
  top: 0%;
  height: 150%;
  width: 100%;
}